<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Link</th>
    </tr>
    {% for post in posts %}
    <tr>
      <th>{{ post.title }}</th>
      <th>{{ post.description }}</th>
      <th>{{ post.date }}</th>
      <th>
        <a href="/posts/{{ post.date }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            viewBox="0 0 24 24"><path fill="currentColor" d="M11 17H7q-2.075
            0-3.538-1.463T2 12q0-2.075 1.463-3.538T7 7h4v2H7q-1.25 0-2.125.875T4
            12q0 1.25.875 2.125T7 15h4v2Zm-3-4v-2h8v2H8Zm5 4v-2h4q1.25 0
            2.125-.875T20 12q0-1.25-.875-2.125T17 9h-4V7h4q2.075 0 3.538 1.463T22
            12q0 2.075-1.463 3.538T17 17h-4Z"/></svg>
        </a>
      </th>
    </tr>
    {% endfor %}
</table>
